.episodes-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 20%;
    padding-top: 10px;
    padding-bottom: 100px;
    overflow: hidden;
}

.episode {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px 50px;
    border-radius: 3px;
    border: 1px solid white;
    color: white;
}

.episode .play {
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    color: rgb(38, 233, 182);
    border-color: rgb(38, 233, 182);
    font-weight: bolder;
    cursor: pointer;
}

@media (max-width: 700px) {
    .episodes-wrapper {
      margin: 0 10%;
    }
  }
  
  @media (max-width: 500px) {
    .episodes-wrapper {
      margin: 0 5%;
    }
  }