.player-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 5px 20%;
    box-sizing: border-box;
    width: 100%;
    background-color: #38785d;
    position: fixed;
    bottom: 0;
}

.player-wrapper .player-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55px;
}

.player-navigation.no-episode {
    height: 50px;
    justify-content: center;
    align-items: center;
}

.player-wrapper .controls {
    display: flex;
    justify-content: center;
    margin: 20px;
    border: 1px solid white;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5);
    border-radius: 2px;
}

.player-wrapper .controls .control {
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
}

.control:nth-child(odd) {
    border-right: 1px solid white !important;
}

.player-wrapper .time-controls {
    flex-basis: 50%;

}

.player-wrapper .episode-swiper {
    height: 30px;
    width: 100%;
}

.player-wrapper .current-time {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media (max-width: 800px) {
    .controls {
        margin: 5px !important;
    }

    .player-navigation {
        justify-content: space-between !important;
    }

    .player-wrapper {
        padding: 2%;
    }
}