.App {
  height: 100vh;
}

.App.player-shown {
  overflow: hidden;
}

.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  min-height: 50px;
  width: 100%;
  background-color: #38785d;
  border-bottom: 1px solid white;
}

.Footer {
  width: 100%;
  position: absolute;
  min-height: 90px;
  bottom: 0;
  background: gray;
}
