body {
  margin: 0;
  background: repeating-linear-gradient(
      135deg,
    #000000,
    #000000 20px,
    #0e0e0e 20px,
    #0e0e0e 40px
  );
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  margin: 0;
  color: white;
}

p {
  margin: 0;
}